@model BusinessLayer.Employee

@{
    ViewBag.Title = "Create";
}
<div style="font-family:Arial">
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("City",new List<SelectListItem> {
               new SelectListItem{Text="Maharashtra",Value="Maharashtra"},
               new SelectListItem{Text="UttarPradesh",Value="UttarPradesh"},
               new SelectListItem{Text="Karnataka",Value="Karnataka"},
               new SelectListItem{Text="Andhra Pradesh",Value="Andhra Pradesh"},
               new SelectListItem{Text="Arunachal Pradesh	",Value="Arunachal Pradesh	"},
               new SelectListItem{Text="Assam",Value="Assam"},
               new SelectListItem{Text="Bihar",Value="Bihar"},
               new SelectListItem{Text="Goa",Value="Goa"},
               new SelectListItem{Text="Gujarat	",Value="Gujarat"},
               new SelectListItem{Text="Haryana",Value="Haryana"},
               new SelectListItem{Text="Himachal Pradesh",Value="Himachal Pradesh"},
               new SelectListItem{Text="Jammu and Kashmir",Value="Jammu and Kashmir"},
               new SelectListItem{Text="Jharkhand",Value="Jharkhand"},
               new SelectListItem{Text="Kerala",Value="Kerala"},
               new SelectListItem{Text="Madhya Pradesh",Value="Madhya Pradesh"},
               new SelectListItem{Text="Manipur",Value="Manipur"},
               new SelectListItem{Text="Mizoram",Value="Mizoram"},
               new SelectListItem{Text="Nagaland",Value="Nagaland"},
               new SelectListItem{Text="Odisha",Value="Odisha"},
               new SelectListItem{Text="Punjab",Value="Punjab"},
               new SelectListItem{Text="Rajasthan",Value="Rajasthan"},
               new SelectListItem{Text="Sikkim",Value="Sikkim"},
               new SelectListItem{Text="Tamil Nadu",Value="Tamil Nadu"},
               new SelectListItem{Text="Telangana",Value="Telangana"},
               new SelectListItem{Text="Tripura",Value="Tripura"},
               new SelectListItem{Text="Uttarakhand",Value="Uttarakhand"},
               new SelectListItem{Text="West Bengal",Value="West Bengal"},



           }, "Select State")
                
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

</div>
